@charset "ISO-8859-1";

body {
	background-image: url("/img/silent2.jpeg");
	background-size: contain;
	background-repeat: repeat;
	height: 100%;
	background-position: center center;
	font-family: 'Lucida Sans Unicode', serif;
}

.navbar.transparent.navbar-inverse .collapse.navbar-collapse {
	opacity: 0;
}

a {
	color: white;
	padding-left: 20rem;
}
.navbar-expand-sm {
	padding-left: 5.8rem;
}

a:link {
	color: #6c757d;
}

a:hover {
	color: #6c757d;
}
.btn:hover, .btn:hover:before, .btn:hover:after {
    background-color: #6c757d;
    border-color: white;
}

.form-control:focus {
	border-color: #6c757d;	
}

#navbarSupportedContent {
	padding-left: 10rem;
}

#heading {
	height: 3rem;
	padding-top: 2rem;
	padding-left: 10rem;
}

#submitButton {
	padding-left: 22rem;
}

.btn {
	color: white;
	background-color: unset;
	border-color: unset;
}

.container {
	color: white;
	padding-left: 10em;
}