main{
	background-image: url("/img/silent2.jpeg");
	background-size: contain;
	background-repeat: repeat;
	height: 100%;
	background-position: center center;
}

@keyframes flickerAnimation {
  0%  { opacity:1; }
  5%  { opacity:0; }
  10% { opacity:.7; }
  15% { opacity:1; }
  20% { opacity:0; }
  25% { opacity:1; }
  30% { opacity:.2; }
  35% { opacity:0; }
  40% { opacity:1; }
  45% { opacity:1; }
  50% { opacity:0; }
  55% { opacity:.5; }
  60% { opacity:1; }
  65% { opacity:0; }
  70% { opacity:1; }
  75% { opacity:.9; }
  80% { opacity:0; }
  85% { opacity:1; }
  90% { opacity:0; }
  95% { opacity:.7; }
  100% { opacity:0; }
}

.animate-flicker {	 
    animation: flickerAnimation .25s ;   
    animation-iteration-count: 1; 
}

#container{
  left:100%; 
  top:100%;
  width:500px;
  height:600px;
  opacity: 0;
}
